.homeContainer{
    display: flex;
    padding: 2rem;
}

.topContainer{
    position:fixed;
}

.displayView{
    height: 100px;
    width: 200px;
}
.bounce {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-left:45%;
    margin-top: 350px;
   
   }